.container {
    display: flex;
    justify-content: center;
}

.block {
    width: 85%;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid #8F969D;
    display: grid;
    grid-template-areas: "h n";
    box-shadow: 2px 2px 5px #8F969D;
}



.description p {
    margin-top: 0;
    font-size: 13px;
}

.description h2 {
    margin-bottom: 0;
    font-size: 18px;
}

.description {
    grid-area: h;
    margin-top: auto;
    margin-bottom: auto;
}

.button {
    grid-area: n;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}